@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: lavender;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: lightcoral;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}
.header{
    background-color: lavenderblush;
    border-bottom: 1px solid grey;
    padding: 20px 40px;
}
.header h2{
    margin: 0;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid grey;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
}
.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
}
.form button{
    background-color: lightcoral;
    border: 2px solid lightcoral;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;
}